body {
    font-family: Lato, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
}

h1 {
    color: #8B7B7A;
    font-size: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
}

.header img {
    display: inline-block;
    vertical-align: middle;
}

.header h1 {
    display: inline-block;
    margin-left: 10px; /* adjust this value to increase or decrease the space between the image and the title */
    vertical-align: middle;
}

#image-container img {
  margin-right: 2rem;
  margin-bottom: 2rem;
  /* border: 1px solid #8B7B7A; */
  border-radius: 4px;
}

input[type="email"] {
    width: 97.75%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Lato, sans-serif;
    border-color: #E0D1D3;
    color: #8B7B7A;
}

input[type="email"]:focus {
    border-color: #EF8080;
    outline: none;
    color: #8B7B7A;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #EF8080;
    text-align: left;
    color: #8B7B7A;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td img {
    vertical-align: middle;
    margin-right: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#loading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #8B7B7A;
    margin-bottom: 1rem;
    animation: pulse 1s infinite;
    font-family: Lato, sans-serif;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#newsletter-link a {
  font-family: Lato;
  color: #8B7B7A;
  text-decoration: none;
}

#newsletter-link a:hover {
  color: #EF8080;
  text-decoration: none;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -1.5em;
    left: 1em;
    background-color: #8B7B7A;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
}
